:root {
  --color-bg: #0f1419;
  --color-text: #fff;
  --color-logo: #38bdef;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

main {
  position: relative;
  display: flex;
  gap: 2rem;
}

.projo {
  flex: 1 1 auto;
}